*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}



body{
    background-image: url(/images/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}


.todo-error{
    justify-content: center;
    margin-top: 150px;
    border: 5px #d00000 solid;
    width: 100%;
    height: 100%	;
    padding: 40px;
   color: #000;
}



.titulo-contac{
    display: flex;
    position: relative;
    margin-top: 30px;
    justify-content: center;
    background-color: #c5f80e ;
    height: auto;
}
.titulo-contac2{
    display: flex;
    position: relative;
    justify-content: center;
    height: auto;
}


.texrt-contac{
    display: flex;
    position: relative;
    color: aliceblue;
    top: 10px;
    justify-content: center;
    color: #000;
    font-size: large;
    padding: 15px;
}


.boton-contac{
    position: relative;
    justify-content: center;
    margin-top: 20px;
    font-size: 26px;
    font-size: 26px;
}
.container{
    margin-top: 10px;
    margin: 10px;
}

.caja1{
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: #fff solid 2px;
    opacity: 80%;
    font-weight: bold;
}

.caja2{
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:#000;
    border: #fff solid 2px;
    top: 10px;
    font-size: 26px;
    height: auto;
    opacity: 80%;
    font-weight: bold;
}
.texto-wha{
    color: #000;
    font-size: 26px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
}

.Boton-Whatsapp{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-correo{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

.caja3{
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    height: 100px;
    border: #fff solid 2px;
    margin-top: 10px;
    opacity: 80%;
}
.caja4{
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    opacity: 80%;
    color: #000;
    border: #fff solid 2px;
    padding: 15px;
    
}

.caja6{
    background-color: antiquewhite;
    height: 100px;
    opacity: 80%;
}


