*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background-image: url(/images/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}



@keyframes typing{
    from{width: 0}

}

@keyframes blink {
  50% {border-color: transparent;}
}


.contactanos-todo{
    display: block;
    
}

.span1{
position: relative;
font-size: 2rem;
top: 20px;
}
.text-center{
   
    font-size: 20px;
    color: #fca311;
    justify-content: center;
}



.text-1{
    background-color: #fff;
    position: relative;
    margin-top: 0px;
    font-size: 40px;
    display: block;
    height: 120px;
    width: 100%;
}
.caja1{
    position: relative;
    background-color: aqua;
    height: 250px;
    width: 100%;
    top: 10px;
    border: solid 5px #fff;
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.caja1 a {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.caja1 p {
    display: flex;
    font-size: 0px;
}
.caja2{
    position: relative;
    background-color: #fca311;
    height: 250px;
    width: 100%;
    top: 10px;
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: solid 5px #fff;
}


.caja3{
    position: relative;
    background-color: bisque;
    height: 250px;
    width: 100%;
    top: 10px;
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: solid 5px #fff;
}
.caja4{
    position: relative;
    background-color: aqua;
    height: 250px;
    width: 100%;
    top: 10px;
    background-image: url(/images/hamburger-pixel-art-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: solid 5px #fff;
}

.cajas2{
    position: relative;
    top: 10px;
}

.caja1  p {
    font-size:1rem ;

}

@media (min-width: 320px){

    .text-center {

        font-size: 1rem;
    
    }


    .text-1{
        background-color: #fff;
        position: relative;
        margin-top: 0px;
        font-size: 40px;
        display: block;
        height: 250px;
        width: 100%;
    }

}




